@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-position: 50%;
  background-size: cover;
  font-family: Poppins, sans-serif;
  height: 100vh;
  width: 100%;
}

/* loader */
.spinner {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.383);
}

.form-btn {
  width: 250px !important;
  margin-top: 30px !important;
}

.footer {
  background-color: #282c34;
  color: #ffffff;
  padding: 2rem 0;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1 1 250px;
  margin-bottom: 1.5rem;
}

.footer-section h3 {
  color: #61dafb;
  margin-bottom: 1rem;
}

.footer-section p,
.footer-section ul {
  line-height: 1.8;
  list-style-type: none;
  padding-left: 0;
}

.footer-section ul li {
  margin-bottom: 0.5rem;
}

.footer-section ul li a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  color: #21a1f1;
}

.footer-social {
  display: flex;
  justify-content: center;
}

.footer-social a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 0.5rem;
  transition: color 0.3s ease;
}

.footer-social a:hover {
  color: #21a1f1;
}

.footer-bottom {
  margin-top: 2rem;
}
