/* Appointments.css */

/* Add styles for the appointments container */
.appointments-container {
  padding: 20px;
  /* background-color: #f0f2f5; */
  border-radius: 5px;
}

/* Add styles for the table heading */
.appointments-heading {
  color: #115aec;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  /* Increased font size */
}

/* Add styles for the Ant Design table */
.ant-table {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  border-collapse: separate; /* Use separate border model */
  border-spacing: 0 8px; /* Add spacing between table cells */ /* Add spacing between table cells */
}

/* Style for the table header */
.ant-table-thead > tr > th {
  background-color: #6dc3eb !important; /* Light blue background */
  border-bottom: 1px solid #ddd !important;
  color: #f9f4f4 !important; /* Ensure text color is dark for contrast */
  font-size: 16px !important; /* Font size for header text */
  text-align: center !important; /* Center align header text */
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1) !important; /* Add box shadow */
}

.ant-table-tbody > tr > td {
  border-bottom: 1px solid #ddd !important;
  background-color: #fafafa !important; /* Light grey shade for table cells */
  text-align: center !important; /* Center align cell text */
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1) !important; /* Add box shadow */
  padding: 10px; /* Add padding to each cell */
}

/* Style for the borders in the table */
.ant-table-tbody > tr > td,
.ant-table-thead > tr > th {
  border-right: 1px solid #b7b7b7 !important;
}

.ant-table-tbody > tr > td:last-child,
.ant-table-thead > tr > th:last-child {
  border-right: none !important;
}

.ant-table-tbody > tr:last-child > td {
  border-bottom: none !important;
}

/* Add styles for action buttons */
.action-btn {
  margin-right: 8px;
  border-radius: 5px; /* Updated border radius */
}

.appointment-actions {
  display: flex;
  gap: 10px;
}

/* Targeting the delete button specifically */
.ant-btn-danger,
.ant-btn-danger:hover,
.ant-btn-danger:focus {
  background-color: red; /* Red color */
  border-color: #ff4d4f;
  color: white; /* Set font color to white */
}

.ant-btn-danger:hover,
.ant-btn-danger:focus {
  background-color: #ff7875; /* Darker red on hover/focus */
  border-color: #ff7875;
}
