.doctor-card {
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: center; */
  background-color: bisque;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  /* margin-bottom: 30px;  */
  cursor: pointer;
  transition: box-shadow 0.3s;
  width: calc(33.33% - 20px); /* Set width for each doctor container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.doctor-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  background-color: #f6e8a2;
}

.doctor-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.doctor-details p {
  margin: 0;
}

.detail-title {
  font-weight: bold;
  margin-right: 5px;
}
/* .book-now-button {
  text-decoration: none;
  color: aliceblue;
} */

/* DoctorList.css */
.book-now-button {
  position: relative; /* Position the button absolutely within the card */
  top: 10px; /* Adjust the distance from the bottom as needed */
  left: 50%; /* Align button horizontally */
  transform: translateX(-50%); /* Center button horizontally */
}

.btn-text {
  color: #fff; /* Set the text color */
  text-decoration: none;
  padding: 10px;
}
.auth-button {
  color: white;
  text-decoration: none;
  font-size: 16px;
  background-color: #3c7fc6;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 150px;
}
.auth-button:hover {
  background-color: #21a1f1;
  color: #ddd;
}
