@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.main {
  position: relative;
  padding: 10px;
  height: 100vh;
}

.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/backimg.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(5px); /* Adjust the blur intensity as desired */
  z-index: -1; /* Place the background image behind other content */
}

/* Rest of your CSS styles */

.layout {
  display: flex;
}

.sidebar {
  border-radius: 5px;
  box-shadow: 0 0 10px #040404;
  color: #f6f4f4;
  margin-bottom: 20px;
  margin-right: 20px;
  min-height: 100%;
  width: 300px;
}

.content {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.header {
  height: 10vh;
  margin-bottom: 20px;
  box-shadow: 0 0 2px gray;
}

.body {
  height: 85vh;
  margin-bottom: 20px;
  box-shadow: 0 0 2px gray;
  font-family: "Poppins", sans-serif;
}
/* 
/* Remove background-color properties from .header and .body */
.header {
  /* background-color: white; */
}

.body {
  /* background-color: white; */
}

.logo h6 {
  font-size: 1.5rem;
  text-align: center;
  margin: 20px 0px;
}

.menu {
  margin-top: 50px;
}

.menu-item {
  margin-top: 30px;
}

.menu-item a {
  color: #f7fafa;
  font-size: 1.2rem;
  text-decoration: none;
}

.menu-item i {
  font-size: 1.2rem;
  margin: 0 15px;
}

.active {
  background-color: #121414;
  margin: 10 0;
  padding: 5px;
}

.active a,
.active i {
  color: #f0e8f2;
}

.header-content {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: flex-end;
  margin: 0 15px;
}

.header-content i {
  font-size: 1.2rem;
  margin-right: 20px;
}

.header-content a {
  text-decoration: none;
  font-size: 1.2rem;
  color: blue;
  margin: 0 10px;
  text-transform: uppercase;
}
